.country-container {
    padding: 1em;
    text-align: center;
}

.country-flag {
    width: 100%;
    padding-bottom: 1em;
}

.gray {
    color: gray;
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 640px) {
    .country-container {
        width: 60%;
        margin: 0 auto;
    }

    .country-flag {
        width: 40%;
        padding: 1em;
    }
}