<div class="country-container">
  <img class="country-flag" src="{{country.flag}}" alt="{{country.name}}">
  <p class="mat-display-3">
    {{country.name}}
  </p>
  <mat-accordion class="headers-align">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Codes
        </mat-panel-title>
        <mat-panel-description>
          All those fancy codes and spellings!
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item>
          <h3 matLine>Alpha 2 Code</h3>
          <p matLine>
            <span>{{country.alpha2Code}}</span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <h3 matLine>Alpha 3 Code</h3>
          <p matLine>
            <span>{{country.alpha3Code}}</span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <h3 matLine>Alternative Spellings</h3>
          <p matLine *ngFor="let spelling of country.altSpellings">
            <span>{{spelling}}</span>
          </p>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Basic Information
        </mat-panel-title>
        <mat-panel-description>
          {{country.name}}'s native name and capital
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-list>
        <mat-list-item>
          <h3 matLine>Native Name</h3>
          <p matLine>
            <span>{{country.nativeName}}</span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <h3 matLine>Trigramme</h3>
          <p matLine>
            <span>{{country.cioc}}</span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <h3 matLine>Demonym</h3>
          <p matLine>
            <span>{{country.demonym}}</span>
          </p>
        </mat-list-item>
        <mat-list-item>
          <h3 matLine>Capital</h3>
          <p matLine>
            <span>{{country.capital}}</span>
          </p>
        </mat-list-item>
      </mat-list>
    </mat-expansion-panel>
  </mat-accordion>
</div>